<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
  <configSections>
    <!--跟下面Spring.Net节点配置是一一对应关系-->
    <sectionGroup name="spring">
      <!--配置解析Spring块的对象-->
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <!--配置解析Spring存放对象的容器集合-->
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>
  <!--Spring.Net节点配置-->
  <spring>
    <context>
      <!--容器配置-->
      <!--<resource uri="config://spring/objects"/>-->
      <!--xml文件方式，更改属性，复制到输出目录：始终复制-->
      <resource uri="~/Config/dal.xml"/>
      <resource uri="~/Config/controllers.xml"/>
      <resource uri="~/Config/service.xml"/>
    </context>
  </spring>
</configuration>