
@{
    ViewData["Title"] = "Detail";
}

<h2>Detail</h2>


<div class="logoBar">
    <div class="comWidth">
        <div class="logo fl">
            <a href="#"><img src="~/images/logo.jpg" alt="慕课网" /></a>
        </div>
        <div class="stepBox fr">
            <div class="step"></div>
            <ul class="step_text">
                <li class="s01 active">我的购物车</li>
                <li class="s02 active">填写核对订单</li>
                <li class="s03">订单提交成功</li>
            </ul>
        </div>
    </div>
</div><!--logoBar结束-->

<div class="shoppingCart">
    <div class="shopping_item comWidth">
        <h3 class="shopping_tit">收货信息</h3>
        <div class="shopping_cont padding_shop">
            <ul class="shopping_list">
                <li>
                    <span class="shopping_list_text"><em>*</em>选择地区：</span>
                    <div class="select">
                        <h3>海淀区五环内</h3> <span></span>
                        <ul class="show_select">
                            <li>上帝</li>
                            <li>五棵松</li>
                            <li>五棵松</li>
                        </ul>
                    </div>
                </li>
                <li><span class="shopping_list_text"><em>*</em>详细地址：</span><input type="text" value="最多输入26个汉字" class="input input_b" /></li>
                <li><span class="shopping_list_text"><em>*</em>收 货 人：</span><input type="text" value="最多10个汉字" class="input" /></li>
                <li><span class="shopping_list_text"><em>*</em>手	机：</span><input type="text" value="如12312321312" class="input" />或固定电话：<input type="text" class="input input_s" value="区号" /><span>-</span><input type="text" class="input" value="电话号码" /><span>-</span><input type="text" class="input" value="分机号码(可选)" /></li>
                <li><input type="button" class="affirm" /></li>
            </ul>
        </div>
    </div>
    <div class="hr_15"></div>
    <div class="shopping_item comWidth">
        <h3 class="shopping_tit">支付方式</h3>
        <div class="shopping_cont padding_shop">
            <ul class="shopping_list">
                <li><input type="radio" class="radio" id="r1" /><label for="r1">微信支付</label>用微信扫一扫就能支付</li>
                <li><input type="radio" class="radio" id="r2" /><label for="r2">货到付款</label>送货上门后在付款，使用现金或刷银行卡</li>
            </ul>
        </div>
    </div>
    <div class="hr_15"></div>
    <div class="shopping_item comWidth">
        <h3 class="shopping_tit">送货清单<a href="#" class="backCar">返回购物车修改</a></h3>
        <div class="shopping_cont">
            <div class="cart_inner">
                <div class="cart_head clearfix">
                    <div class="cart_item t_name">商品名称</div>
                    <div class="cart_item t_price">单价</div>
                    <div class="cart_item t_return">返现</div>
                    <div class="cart_item t_num">数量</div>
                    <div class="cart_item t_subtotal">小计</div>
                </div>
                <div class="cart_cont clearfix">
                    <div class="cart_item t_name">
                        <div class="cart_shopInfo clearfix">
                            <img src="~/images/sm1.jpg" alt="">
                            <div class="cart_shopInfo_cont">
                                <p class="cart_link"><a href="#">Hisense 海信 BCD-202D 202升 三门冰柜(银色)</a></p>
                                <p>Hisense 海信 BCD-202D 202升 三门冰柜(银色)</p>
                            </div>
                        </div>
                    </div>
                    <div class="cart_item t_price">单价</div>
                    <div class="cart_item t_return">返现</div>
                    <div class="cart_item t_num">数量</div>
                    <div class="cart_item t_subtotal t_red">小计</div>
                </div>
                <div class="cart_message">
                    若对包裹有特殊要求，请在册留言
                </div>
                <div class="cart_cont clearfix">
                    <div class="cart_item t_name">
                        <div class="cart_shopInfo clearfix">
                            <img src="~/images/sm1.jpg" alt="">
                            <div class="cart_shopInfo_cont">
                                <p class="cart_link"><a href="#">Hisense 海信 BCD-202D 202升 三门冰柜(银色)</a></p>
                                <p>Hisense 海信 BCD-202D 202升 三门冰柜(银色)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="hr_15"></div>
    <div class="shopping_item comWidth">
        <h3 class="shopping_tit">订单结算</h3>
        <div class="shopping_cont padding_shop clearfix">
            <div class="cart_count fr">
                <div class="cart_rmb">
                    <i>总计:</i><span>￥14345495.00</span>
                </div>
                <div class="cart_btnBox">
                    <input type="button" class="cart_btn" value="提交订单" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hr_15"></div>