
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<div class="loginBox">
    <div class="login_cont">
        <ul class="login">
            <li class="l_tit">邮箱/用户名/已验证手机</li>
            <li class="mb_10"><input type="text" class="login_input user_icon"/></li>
            <li class="l_tit">密码</li>
            <li class="mb_10"><input type="text" class="login_input password_icon"/></li>
            <li class="autoLogin"><input type="checkbox" class="checked" id="a1"/><label for="a1">自动登录</label></li>
            <li><input type="button" value="" class="login_btn" /></li>
        </ul>
        <div class="login_partners">
            <p class="l_tit">使用合作方账户登录网站</p>
            <ul class="login_list clearfix">
                <li><a href="#">QQ</a></li>
                <li><span>|</span></li>
                <li><a href="#">网易</a></li>
                <li><span>|</span></li>
                <li><a href="#">人人</a></li>
                <li><span>|</span></li>
            </ul>
        </div>
    </div>
    <a class="reg_link" href-="#"></a>
</div>
<div class="hr_15"></div>