
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<div class="regBox">
    <div class="login_cont">
        <ul class="login">
            <li><span class="reg_item"><i>*</i>账户名:</span><div class="input_item"><input type="text" class="login_input user_icon"/></div></li>
            <li><span class="reg_item"><i>*</i>请设置密码:</span><div class="input_item"><input type="text" class="login_input user_icon"/></div></li>
            <li><span class="reg_item"><i>*</i>请确认密码:</span><div class="input_item"><input type="text" class="login_input user_icon"/></div></li>
            <li><span class="reg_item"><i>*</i>邮箱:</span><div class="input_item"><input type="text" class="login_input user_icon"/></div></li>
            <li><span class="reg_item"><i>*</i>地址:</span><div class="input_item"><input type="text" class="login_input user_icon"/></div></li>
            <li class="autoLogin"><span class="reg_item"><i>&nbsp;</i></span><input type="checkbox" class="checked" id="t1"/><label for="t1">我已阅读并同意</label></li>
            <li><span class="reg_item"><i>&nbsp;</i></span><input type="button" value="" class="login_btn" /></li>
        </ul>
    </div>
    <a class="reg_link" href-="#"></a>
</div>
<div class="hr_15"></div>