
@{
    ViewData["Title"] = "Category";
}

<h2>Category</h2>


<div class="navBox">
    <div class="comWidth">
        <div class="shopClass fl">
            <h3>全部商品分类<i></i></h3>
            <div class="shopClass_show hide">
                <dl class="shopClass_item">
                    <dt><a href="#" class="b">手机</a> <a href="#" class="b">数码</a> <a href="#" class="aLink">合约机</a></dt>
                    <dd><a href="#">荣耀</a> <a href="#">单反</a> <a href="#">智能设备</a></dd>
                </dl>

                <dl class="shopClass_item">
                    <dt><a href="#" class="b">手机</a> <a href="#" class="b">数码</a> <a href="#" class="aLink">合约机</a></dt>
                    <dd><a href="#">荣耀</a> <a href="#">单反</a> <a href="#">智能设备</a></dd>
                </dl>

                <dl class="shopClass_item">
                    <dt><a href="#" class="b">手机</a> <a href="#" class="b">数码</a> <a href="#" class="aLink">合约机</a></dt>
                    <dd><a href="#">荣耀</a> <a href="#">单反</a> <a href="#">智能设备</a></dd>
                </dl>

                <dl class="shopClass_item">
                    <dt><a href="#" class="b">手机</a> <a href="#" class="b">数码</a> <a href="#" class="aLink">合约机</a></dt>
                    <dd><a href="#">荣耀</a> <a href="#">单反</a> <a href="#">智能设备</a></dd>
                </dl>

                <dl class="shopClass_item">
                    <dt><a href="#" class="b">手机</a> <a href="#" class="b">数码</a> <a href="#" class="aLink">合约机</a></dt>
                    <dd><a href="#">荣耀</a> <a href="#">单反</a> <a href="#">智能设备</a></dd>
                </dl>
            </div>
            <div class="shopClass_list hide">
                <div class="shopClass_cont">
                    <dl class="shopList_item">
                        <dt>电脑装机</dt>
                        <dd>
                            <a href="#">笔记本</a><a href="#">超极本</a><a href="#">上网本</a><a href="#">平板电脑</a><a href="#">台式机</a>
                        </dd>
                    </dl>
                </div>
                <div class="shopClass_cont">
                    <dl class="shopList_item">
                        <dt>电脑配件</dt>
                        <dd>
                            <a href="#">CPU</a><a href="#">硬盘</a><a href="#">SSD固态硬盘</a><a href="#">内存</a><a href="#">显示器</a><a href="#">智能显示器</a><a href="#">主板</a><a href="#">显卡</a><a href="#">机箱</a><a href="#">电源</a><a href="#">散热器</a><a href="#">刻录机/光驱</a><a href="#">声卡</a><a href="#">拓展卡</a><a href="#">服务器配件</a><a href="#">DIY小附件</a><a href="#">装机/配件安装</a>
                        </dd>
                    </dl>
                </div>
                <div class="shopClass_cont">
                    <dl class="shopList_item">
                        <dt>整机附件</dt>
                        <dd>
                            <a href="#">电脑包</a><a href="#">电脑桌</a><a href="#">电池</a><a href="#">电源适配器</a><a href="#">贴膜</a><a href="#">清洁用品</a><a href="#">笔记本散热</a><a href="#">USB拓展</a><a href="#">平板配件</a><a href="#">特色配件</a><a href="#">插座网线/电话线</a><a href="#">影音线材</a><a href="#">电脑线材</a>
                        </dd>
                    </dl>
                </div>
                <div class="shopClass_cont">
                    <dl class="shopList_item">
                        <dt>电脑外设</dt>
                        <dd>
                            <a href="#">鼠标</a><a href="#">键盘</a><a href="#">游戏外设</a><a href="#">移动硬盘</a><a href="#">摄像头</a><a href="#">高清播放器</a><a href="#">外置盒</a><a href="#">移动硬盘包</a><a href="#">手写板/绘画板</a>
                        </dd>
                    </dl>
                </div>
                <div class="shopClass_cont">
                    <dl class="shopList_item">
                        <dt>音频设备</dt>
                        <dd>
                            <a href="#">音响</a><a href="#">耳机/耳麦</a><a href="#">麦克风</a><a href="#">声卡</a><a href="#">音频附件</a><a href="#">录音笔</a>
                        </dd>
                    </dl>
                    <div class="shopList_links">
                        <a href="#">电脑整机频道<span></span></a>
                        <a href="#">硬件/外设频道<span></span></a>
                    </div>
                </div>
            </div>
        </div>
        <ul class="nav fl">
            <li><a href="#" class="active">数码城</a></li>
            <li><a href="#">天黑黑</a></li>
            <li><a href="#">团购</a></li>
            <li><a href="#">发现</a></li>
            <li><a href="#">二手特卖</a></li>
            <li><a href="#">名品会</a></li>
        </ul>
    </div>
</div><!--navBar结束-->
<div class="hr_15"></div>
<div class="comWidth clearfix products">
    <div class="leftArea">
        <div class="leftNav">
            <h3 class="nav_title">手机、相机、数码</h3>
            <div class="nav_cont">
                <h3>手机通讯</h3>
                <ul class="navCont_list clearfix">
                    <li><a href="#">全部手机</a></li>
                    <li><a href="#">1080P高清</a></li>
                    <li><a href="#">双卡手机</a></li>
                    <li><a href="#">拍照神器</a></li>
                    <li><a href="#">老年手机</a></li>
                    <li><a href="#">对讲机</a></li>
                    <li><a href="#">联通专区</a></li>
                </ul>
            </div>
            <div class="nav_cont">
                <h3>手机通讯</h3>
                <ul class="navCont_list clearfix">
                    <li><a href="#">全部手机</a></li>
                    <li><a href="#">1080P高清</a></li>
                    <li><a href="#">双卡手机</a></li>
                    <li><a href="#">拍照神器</a></li>
                    <li><a href="#">老年手机</a></li>
                    <li><a href="#">对讲机</a></li>
                    <li><a href="#">联通专区</a></li>
                </ul>
            </div>
            <div class="nav_cont">
                <h3>手机通讯</h3>
                <ul class="navCont_list clearfix">
                    <li><a href="#">全部手机</a></li>
                    <li><a href="#">1080P高清</a></li>
                    <li><a href="#">双卡手机</a></li>
                    <li><a href="#">拍照神器</a></li>
                    <li><a href="#">老年手机</a></li>
                    <li><a href="#">对讲机</a></li>
                    <li><a href="#">联通专区</a></li>
                </ul>
            </div>
        </div>

    </div>
    <div class="rightArea">
        <div class="banner_bar banner_big">
            <ul class="imgBox">
                <li><a href="#"><img src="~/banner/banner_01.gif"></a></li>
                <li><a href="#"><img src="~/banner/banner_02.gif"></a></li>
            </ul>
            <div class="imgNum">
                <a href="#" class="active"></a>
                <a href="#"></a>
            </div>
        </div>
        <div class="hr_7"></div>
        <div class="products_title">
            <h3>数码影像</h3>
        </div>
        <div class="products_list clearfix">
            <div class="item">
                <div class="item_cont">
                    <div class="img_item">
                        <a href="#"><img src="~/images/shopImg.png" alt=""></a>
                    </div>
                    <p><a href="#">文字介绍文字介绍文字介绍文字介绍文字介绍</a></p>
                    <p class="money">￥888</p>
                    <p>评论:<span class="start"></span><span class="start"></span><span class="start"></span>&nbsp;<a href="#">(78)</a></p>
                </div>
            </div>
            <div class="item">
                <div class="item_cont">
                    <div class="img_item">
                        <a href="#"><img src="~/images/shopImg.png" alt=""></a>
                    </div>
                    <p><a href="#">文字介绍文字介绍文字介绍文字介绍文字介绍</a></p>
                    <p class="money">￥888</p>
                    <p>评论:<span class="start"></span><span class="start"></span><span class="start"></span>&nbsp;<a href="#">(78)</a></p>
                </div>
            </div>
            <div class="item">
                <div class="item_cont">
                    <div class="img_item">
                        <a href="#"><img src="~/images/shopImg.png" alt=""></a>
                    </div>
                    <p><a href="#">文字介绍文字介绍文字介绍文字介绍文字介绍</a></p>
                    <p class="money">￥888</p>
                    <p>评论:<span class="start"></span><span class="start"></span><span class="start"></span>&nbsp;<a href="#">(78)</a></p>
                </div>
            </div>
            <div class="item">
                <div class="item_cont">
                    <div class="img_item">
                        <a href="#"><img src="~/images/shopImg.png" alt=""></a>
                    </div>
                    <p><a href="#">文字介绍文字介绍文字介绍文字介绍文字介绍</a></p>
                    <p class="money">￥888</p>
                    <p>评论:<span class="start"></span><span class="start"></span><span class="start"></span>&nbsp;<a href="#">(78)</a></p>
                </div>
            </div>
        </div>
        <div class="products_list clearfix">
            <div class="item">
                <div class="item_cont">
                    <div class="img_item">
                        <a href="#"><img src="~/images/shopImg.png" alt=""></a>
                    </div>
                    <p><a href="#">文字介绍文字介绍文字介绍文字介绍文字介绍</a></p>
                    <p class="money">￥888</p>
                    <p>评论:<span class="start"></span><span class="start"></span><span class="start"></span>&nbsp;<a href="#">(78)</a></p>
                </div>
            </div>
            <div class="item">
                <div class="item_cont">
                    <div class="img_item">
                        <a href="#"><img src="~/images/shopImg.png" alt=""></a>
                    </div>
                    <p><a href="#">文字介绍文字介绍文字介绍文字介绍文字介绍</a></p>
                    <p class="money">￥888</p>
                    <p>评论:<span class="start"></span><span class="start"></span><span class="start"></span>&nbsp;<a href="#">(78)</a></p>
                </div>
            </div>
            <div class="item">
                <div class="item_cont">
                    <div class="img_item">
                        <a href="#"><img src="~/images/shopImg.png" alt=""></a>
                    </div>
                    <p><a href="#">文字介绍文字介绍文字介绍文字介绍文字介绍</a></p>
                    <p class="money">￥888</p>
                    <p>评论:<span class="start"></span><span class="start"></span><span class="start"></span>&nbsp;<a href="#">(78)</a></p>
                </div>
            </div>
            <div class="item">
                <div class="item_cont">
                    <div class="img_item">
                        <a href="#"><img src="~/images/shopImg.png" alt=""></a>
                    </div>
                    <p><a href="#">文字介绍文字介绍文字介绍文字介绍文字介绍</a></p>
                    <p class="money">￥888</p>
                    <p>评论:<span class="start"></span><span class="start"></span><span class="start"></span>&nbsp;<a href="#">(78)</a></p>
                </div>
            </div>
        </div>

        <div class="hr_15"></div>
        <div class="products_title">
            <h3>数码影像2</h3>
        </div>
        <div class="products_list clearfix">
            <div class="item">
                <div class="item_cont">
                    <div class="img_item">
                        <a href="#"><img src="~/images/shopImg.png" alt=""></a>
                    </div>
                    <p><a href="#">文字介绍文字介绍文字介绍文字介绍文字介绍</a></p>
                    <p class="money">￥888</p>
                    <p>评论:<span class="start"></span><span class="start"></span><span class="start"></span>&nbsp;<a href="#">(78)</a></p>
                </div>
            </div>
            <div class="item">
                <div class="item_cont">
                    <div class="img_item">
                        <a href="#"><img src="~/images/shopImg.png" alt=""></a>
                    </div>
                    <p><a href="#">文字介绍文字介绍文字介绍文字介绍文字介绍</a></p>
                    <p class="money">￥888</p>
                    <p>评论:<span class="start"></span><span class="start"></span><span class="start"></span>&nbsp;<a href="#">(78)</a></p>
                </div>
            </div>
            <div class="item">
                <div class="item_cont">
                    <div class="img_item">
                        <a href="#"><img src="~/images/shopImg.png" alt=""></a>
                    </div>
                    <p><a href="#">文字介绍文字介绍文字介绍文字介绍文字介绍</a></p>
                    <p class="money">￥888</p>
                    <p>评论:<span class="start"></span><span class="start"></span><span class="start"></span>&nbsp;<a href="#">(78)</a></p>
                </div>
            </div>
            <div class="item">
                <div class="item_cont">
                    <div class="img_item">
                        <a href="#"><img src="~/images/shopImg.png" alt=""></a>
                    </div>
                    <p><a href="#">文字介绍文字介绍文字介绍文字介绍文字介绍</a></p>
                    <p class="money">￥888</p>
                    <p>评论:<span class="start"></span><span class="start"></span><span class="start"></span>&nbsp;<a href="#">(78)</a></p>
                </div>
            </div>
        </div>
        <div class="products_list clearfix">
            <div class="item">
                <div class="item_cont">
                    <div class="img_item">
                        <a href="#"><img src="~/images/shopImg.png" alt=""></a>
                    </div>
                    <p><a href="#">文字介绍文字介绍文字介绍文字介绍文字介绍</a></p>
                    <p class="money">￥888</p>
                    <p>评论:<span class="start"></span><span class="start"></span><span class="start"></span>&nbsp;<a href="#">(78)</a></p>
                </div>
            </div>
            <div class="item">
                <div class="item_cont">
                    <div class="img_item">
                        <a href="#"><img src="~/images/shopImg.png" alt=""></a>
                    </div>
                    <p><a href="#">文字介绍文字介绍文字介绍文字介绍文字介绍</a></p>
                    <p class="money">￥888</p>
                    <p>评论:<span class="start"></span><span class="start"></span><span class="start"></span>&nbsp;<a href="#">(78)</a></p>
                </div>
            </div>
            <div class="item">
                <div class="item_cont">
                    <div class="img_item">
                        <a href="#"><img src="~/images/shopImg.png" alt=""></a>
                    </div>
                    <p><a href="#">文字介绍文字介绍文字介绍文字介绍文字介绍</a></p>
                    <p class="money">￥888</p>
                    <p>评论:<span class="start"></span><span class="start"></span><span class="start"></span>&nbsp;<a href="#">(78)</a></p>
                </div>
            </div>
            <div class="item">
                <div class="item_cont">
                    <div class="img_item">
                        <a href="#"><img src="~/images/shopImg.png" alt=""></a>
                    </div>
                    <p><a href="#">文字介绍文字介绍文字介绍文字介绍文字介绍</a></p>
                    <p class="money">￥888</p>
                    <p>评论:<span class="start"></span><span class="start"></span><span class="start"></span>&nbsp;<a href="#">(78)</a></p>
                </div>
            </div>
        </div>

    </div>

</div>